:root {
    --book-cover-width: 200px;
    --book-cover-width-large: 300px;
    --book-cover-aspect-ratio: 0.7;
}

.book-cover {
    width: var(--book-cover-width);
    height: calc(var(--book-cover-width) / var(--book-cover-aspect-ratio));
}

.book-cover-large {
    --book-cover-width: var(--book-cover-width-large);
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover {
    color: #3c509c
}

.book-name {
    text-align: center;
    margin-top: 1rem
}

.book-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns:  repeat(auto-fill, var(--book-cover-width));
}

.book-grid-large {
    grid-template-columns:  repeat(auto-fill, var(--book-cover-width-large));
}

.book-details {
    display: flex;
}

.book-details-label {
    font-size: 1.2rem;
    font-weight: 500;
    align-self: flex-start;
}

.book-details-grid {
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
    grid-template-columns: auto auto;
    margin-left: 2rem
}

.book-details-btn-grid {
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas: 
        "edit delete"
        "author author";
    grid-gap: .5rem;
    margin-top: .5rem;
}

.book-details-author-button {
    grid-area: author;
    justify-self: stretch;
}