<div class="form-row">
    <div class="form-item">
        <label>Email</label>
        <input type="text" name="email" required >
    </div>
    <div class="form-item">
        <label>Password</label>
        <input type="password" name="password" required>
    </div>
</div>