<h2 class="page-header">Register</h2>
<form action="/users/register" method="POST">
    <%- include( '_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Register</button>
    </div>
</form>